#nav-bar i {
  width: 200%;
}

.header {
  font-size: 2em;
}

.logo {
  max-width: 50px;
  width: 100%;
}

.btn-primary, .btn-group {
  margin: 1.5em;
  float: right;
}

.dropdown-menu {
  width: 20%;
}

.login-form {
  width: 40%;
  float: right;
  display: none;

}